@charset "utf-8";

.form_wrapper{
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.thread_form{
  width: 100%;
}
.thread_form label{
  display: block;
  margin-bottom: 30px;
}
.thread_input{
  background-color: white;
  border: solid 1px;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
}
.thread_textarea{
  resize: none;
  height: 80px;
  width: 100%;
  border: solid 1px;
  margin-bottom: 30px;
  padding: 5px;
  text-align: left;
}
.thread_button{
  background-color: white;
}
