@charset "utf-8";

.content_wrapper{
  width: 100%;
  height: 100vh;
  background-color: gray;
}
.top_inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* sideber */
.sideber{
  width: 23%;
  background-color: blueviolet;
  border: solid 5px white;
}
.sideber_title{
  color: white;
  font-size: 1.5rem;
}

/* main-content */
.main_content{
  height: 100%;
  width: 75%;
  background-color: blueviolet;
  border: solid 5px white;
  overflow: scroll;
}
.main_title{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.agenda_wrapper{
  width: 90%;
  margin: 0 auto;
}
.agenda_wrap{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.agenda_wrap_btn{
  width: 100%;
  height: 100%;
}

.agenda_left{
  width: 30%;
  height: 100%;
  text-align: center;
}
.agenda_title{
  border: solid 2px plum;
  padding: 30px;
}
.agenda_totalling{
  height: 30px;
  border: solid 2px plum;
  padding: 15px;
}
.agenda_totalling p{
  line-height: 1px;
}

.agenda_post{
  position: relative;
  width: 70%;
  border: solid 2px plum;
  padding: 5px;
  font-size: 1rem;
}
.agenda_text{
  height: 100%;
  padding: 20px;
}
.text_time{
  position: absolute;
  right: 2px;
  bottom: 5px;
  font-size: 0.75rem;
}
